<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LN</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="content-container">
  <div class="background-image"></div> <!-- Imagen de fondo añadida aquí -->
  <div class="overlay"></div> <!-- Capa negra superpuesta -->

  <div class="flex-container">
    <img
      src="../../assets/ln_material/Logo Feli.png"
      alt="Logo"
      width="100"
      height="100"
      class="logo"
    />
    <h1 class="title">
      <span class="title-fel">Fel</span><span class="title-ia">IA</span>
    </h1>
    <p class="subtitle">¡Tu nuevo asistente te espera!</p>
  </div>
</ion-content>

<div class="action-container">

  <button class="shadow__btn"> INICIAR SESION </button>
  <button class="shadow__btn2"> REGISTRO </button>

</div>
