<ion-content fullscreen>
  <!-------------------------EL GRAN DIV--------------------------->
  <div class="centered-div">
    <div class="form-container">

      <!---------------------- ATRAS ------------------------------------>
      <ion-back-button class="back-button" defaultHref="ln">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
      <!---------------------- ATRAS ------------------------------------>

      <!------------------------ T REGISTRAR ---------------------------->
      <p class="shiny-text">REGISTRAR</p>
      <!------------------------ T REGISTRAR ---------------------------->

      <!-------------------------FORMULARIO------------------------->
      <form [formGroup]="formularioRegistro"> <!-- Vinculamos el formulario al FormGroup -->
        <div class="form-control">
          <input type="text" formControlName="nombre" required>
          <label>
            <span style="transition-delay:0ms">N</span>
            <span style="transition-delay:50ms">O</span>
            <span style="transition-delay:100ms">M</span>
            <span style="transition-delay:150ms">B</span>
            <span style="transition-delay:200ms">R</span>
            <span style="transition-delay:250ms">E</span>
          </label>
        </div>

        <div class="form-control">
          <input type="email" formControlName="email" required>
          <label>
            <span style="transition-delay:0ms">E</span>
            <span style="transition-delay:50ms">M</span>
            <span style="transition-delay:100ms">A</span>
            <span style="transition-delay:150ms">I</span>
            <span style="transition-delay:200ms">L</span>
          </label>
        </div>

        <div class="form-control">
          <input type="password" formControlName="password" required>
          <label>
            <span style=>Password</span>
          </label>
        </div>

        <div class="form-control">
          <input type="password" formControlName="Confirmacion" required>
          <label>
            <span style=>Reingrese Password</span>
          </label>
        </div>
      </form>
      <!-------------------------FORMULARIO------------------------->

    </div>
  </div>

  <!-------------------------BOTON INGRESAR--------------------------->
  <button class="buttonTL" (click)="ingresar()"> INGRESAR </button>
  <!-------------------------BOTON INGRESAR--------------------------->
</ion-content>
