<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="Nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="Contraseña" type="password"></ion-input>
        </ion-item>


      </form>
      <br>
      <ion-button (click)="ingresar()">
        Ingresar
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/re']">¿Sin Cuenta? Registrate Aqui
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

